* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #4f639b;
  font-family: "Poppins", sans-serif;
  // background-image: linear-gradient(45deg, #4f639b, #fff);
   width: 100%;
   height: 100vh;
}

.container {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 35%;
  max-width: 600px;
  overflow: hidden;
  border: 2px solid #fff;
  padding: 0px 20px 20px;
  border-radius: 5px;

  h1#main-heading {
    color: #eee;
    font-weight: 400;
    padding: 40px;
  }

  ul {

    li {
      list-style: none;
      padding: 5px;
      background-color: #fff;
      border-bottom: 3px solid #888;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 18px;
      color: #444;

      &:last-child {
        border-bottom: none;
      }
    }
  }
}